/* Featured Speaker Block */
.featured-speaker__portrait {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px silver solid;
  margin: auto;
}
.featured-speaker__label {
  font-weight: bold;
  font-size: 0.8em;
}

.featured-speaker__name {
  font-size: 1.3em;
  margin-bottom: 10px;
  font-weight: bold;
}
.block-featured-speaker-block {
  max-width: 250px;
  text-align: center;
}
.block-featured-speaker-block .block__title {
  font-size: 1.5em;
  margin-bottom: 15px;
}
